validator_xml/smartphone.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="tipo"/>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:string" name="nome"/>
        <xs:element name="preco">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="unidade"/>
              <xs:element type="xs:short" name="a_vista"/>
              <xs:element type="xs:short" name="a_prazo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cameras" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="tipo"/>
              <xs:element type="xs:float" name="resolução"/>
              <xs:element type="xs:string" name="unidade"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

